/* #BFD8D2 - powder
#FEDCD2 - peach
#DF744A - warm
#DCB239 - lemon */
body {
    background-image: url('flowers.jpg');
    background-size: cover;
}
h1 {
font-family: 'Quicksand', sans-serif;
font-size:200px;
text-align: center;
vertical-align: center;
color: #FEDCD2;
}


h2 {
    font-family: 'Quicksand', sans-serif;
    color: #FEDCD2;
    font-size: 48px;
    margin: 10px;

}

h3 {
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 32px;
    margin: 10px;

}

h4 {
    font-family: 'Quicksand', sans-serif;
    color: white;
    text-align: left;
    font-size: 24px;
    width: 300px;
    margin: 10px;

}

.panel {
    height: 300px;
}

.fullstack-title {
    display: none;
}

.panel.fullstack:hover .fullstack-title {
    display: inline-block;
    position: absolute;
}



 .background {
    background-color: black;
    background-size: cover;
    opacity: 0.25;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1
}

.gifs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    text-align: center;
    height: 100%;
    width: 100%;
}

.header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-image: url('flowers.jpg');
    background-size: cover;
}

.fa {
    font-size: 72px;
    color: #DCB239;
    padding: 15px;
    
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    z-index: 1;
   
}

.fa:hover {
    transform: scale(1.5);
}

img {
    height: 300px;
    width: 450px;
    border-radius: 10px;
    
}


#github {
    font-size: 60px;
    color: #DF744A;
}

.text {
    color: white;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    width: 300px;
}

#selfie {
    height: 400px;
    width: 300px;
    z-index: 1;
    margin: auto;
    margin-top: 0;
}

.fullstack-title {
   width: 350px;
}

.javascript-title {
    display: none;
}
 .panel.javascript:hover .javascript-title{
    display: inline-block;
    position: absolute;
} 

.flex-title {
    display: none;
}

.panel.flex:hover .flex-title {
    display: inline-block;
    position: absolute;
}

