/* #BFD8D2 - powder
#FEDCD2 - peach
#DF744A - warm
#DCB239 - lemon */
body {
    
    background-image: url('flowers.jpg');
    background-size: cover;
  	background-attachment: fixed;
  	background-repeat: no-repeat;
      background-position: center center;
}

body::before {
  display: block;
  position: absolute;
  background-color: #000;
  opacity: 0.4;
  width: 100%;
  height: 100%;
  z-index: 1;
}
h1 {
font-family: 'Dancing Script', cursive;
font-size:200px;
text-align: center;
vertical-align: center;
color: #FEDCD2;
}


h2 {
    font-family: 'Quicksand', sans-serif;
    color: #FEDCD2;
    font-size: 48px;
    margin: 10px;

}

 .left h2 {
    text-align: left;
    width: 450px;
} 

h3 {
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 32px;
    margin: 10px;

}

h4 {
    font-family: 'Quicksand', sans-serif;
    color: white;
    text-align: left;
    font-size: 24px;
    width: 300px;
    margin: 10px;

}

.panel {
    height: 450px;
}

.fullstack-title {
    display: none;
}

.panel.fullstack:hover .fullstack-title {
   display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}



 .background {
    background-color: black;
    background-size: contain;
    opacity: 0.25;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1
}

.gifs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    text-align: center;
    height: 100%;
    width: 100%;
}

.header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.fa {
    font-size: 72px;
    color: white;
    padding: 15px;
    
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    z-index: 1;
   
}

.fa:hover {
    transform: scale(1.5);
}

img {
    height: 300px;
    width: 450px;
    border-radius: 10px;
    margin: 10px;
    
}


#github {
    font-size: 60px;
    color: #DF744A;
}

.text {
    color: white;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    width: 300px;
}

#selfie {
    height: 400px;
    width: 300px;
    z-index: 1;
    margin: auto;
    margin-top: 0;
}


.javascript-title {
    display: none;
}

.fullstack-img {
    background-color: black;
}

.fullstack-img:hover {
    opacity: 0.8;
}

.javascript-img {
    background-color: black;
}

.javascript-img:hover {
    opacity: 0.8;
}
 .panel.javascript:hover .javascript-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
} 

.flex-title {
    display: none;
}

.flex-img {
    background-color: black;
}

.flex-img:hover {
    opacity: 0.8;
}

.panel.flex:hover .flex-title {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.description {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    height: 70%;
}

.left {
    display: flex;
    flex-direction: column;
}

