/* #BFD8D2 - powder
#FEDCD2 - peach
#DF744A - warm
#DCB239 - lemon */

h1 {
font-family: 'Megrim', cursive;
font-size:200px;
text-align: center;
vertical-align: center;
color: white;
}

body {
    background-image: url('flowers.jpg');
    background-size: cover;
}

 .background {
    background-color: black;
    background-size: cover;
    opacity: 0.5;
    position: absolute;
    height: 100%;
    width: 100%;
} 

.header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.fa {
    font-size: 72px;
    color: white;
    padding: 15px;
    
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
   
}

.fa:hover {
    transform: scale(1.1);
}

.panel {
    height: 100%;
    width: 100%;
    margin-bottom: 100px;
}

img {
    height: 300px;
    width: 500px;
}

.panel.fullstack {
    display: flex;
    justify-content: center;
}
